* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  input{
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  
  .form-control{
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  
  .form-control small{
    opacity: 0;
    color: rgb(143, 36, 36);;
  }
  
  .form-control.error small{
    opacity: 1;
  }
  
  .form-control.error input{
    background-color: rgb(222, 110, 110);
    border: 1px solid rgb(143, 36, 36);
  }