* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 100vh;
    width: 100%;
    background-color: #161515;
  }
  
  input {
    border: 1px solid black;
  
    height: 40px;
    padding: 5px;
    border-radius: 5px;
  }
  
  form button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #f1f1f1;
    font-weight: 900;
    background-color: rgb(65, 154, 65);
    font-size: 14px;
    margin-top: 20px;
    transition: 0.2s all;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(47, 117, 47);
  }
  
  .container-form {
    min-width: 60%;
    height: auto;
    background-color: #2a2a2a;
    padding: 5%;
    border-radius: 10px;
  }
  
  .container-form h1 {
    color: #f1f1f1;
    margin-bottom: 2.5rem;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    color: #f1f1f1;
    padding: 15px 0;
    width: 50%;
    min-width: 480px;
    position: relative;
  }
  
  .form-control label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .form-control input {
    font-weight: 400;
    background-color: #161515;
    color: #f1f1f1;
  }
  
  .form-control small {
    color: rgb(218, 46, 46);
    opacity: 0;
  }
  
  .form-control.error small {
    opacity: 1;
  }
  
  .form-control.error input {
    background-color: rgb(198, 103, 103);
    border: 1px solid rgb(218, 46, 46);
  }